html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* để layout ít nhất full màn hình */
}

.header {
  flex-shrink: 0;
}

.content {
  min-height: 100vh; /* luôn full màn hình riêng biệt */
  background: #fff;
}

.footer {
  flex-shrink: 0;
  background: #101929;
  color: white;
  padding: 20px 0;
  text-align: left;
}
